{% extends 'base.html.twig' %}

{% block title %}Edit OffreEmploi{% endblock %}

{% block body %}
    <h1>Edit OffreEmploi</h1>

    {{ include('recrutement/offre_emploi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recrutement_offre_emploi_index') }}">back to list</a>
{% endblock %}
