{% extends 'base.html.twig' %}

{% block title %}Edit Candidat{% endblock %}

{% block body %}
    <h1>Edit Candidat</h1>

    {{ include('recrutement/candidat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recrutement_candidat_index') }}">back to list</a>
{% endblock %}
